@keyframes rotate {
  0% {
    transform: rotateZ(6deg);
  }
  100% {
    transform: rotateZ(-6deg);
  }
}

@keyframes ribbon01 {
  0% {
    top: 0;
    left: 150px;
    opacity: 1;
    transform: rotateZ(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 550px;
    left: 100px;
    opacity: 0;
    transform: rotateZ(1800deg);
  }
}

@keyframes ribbon02 {
  0% {
    top: 0;
    left: 150px;
    opacity: 1;
    transform: rotateZ(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 550px;
    left: 70px;
    opacity: 0;
    transform: rotateZ(1800deg);
  }
}

@keyframes ribbon03 {
  0% {
    top: 0;
    left: 200px;
    opacity: 1;
    transform: rotateZ(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 550px;
    left: 90px;
    opacity: 0;
    transform: rotateZ(1800deg);
  }
}

@keyframes ribbon04 {
  0% {
    top: 0;
    left: 150px;
    opacity: 1;
    transform: rotateZ(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 550px;
    left: 250px;
    opacity: 0;
    transform: rotateZ(1800deg);
  }
}

@keyframes ribbon05 {
  0% {
    top: 0;
    left: 350px;
    opacity: 1;
    transform: rotateZ(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 550px;
    left: 150px;
    opacity: 0;
    transform: rotateZ(1800deg);
  }
}

@keyframes ribbon06 {
  0% {
    top: 0;
    right: 100px;
    opacity: 1;
    transform: rotateZ(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 550px;
    right: 200px;
    opacity: 0;
    transform: rotateZ(1800deg);
  }
}

@keyframes ribbon07 {
  0% {
    top: 0;
    right: 50px;
    opacity: 1;
    transform: rotateZ(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 550px;
    right: 150px;
    opacity: 0;
    transform: rotateZ(1800deg);
  }
}

@keyframes ribbon08 {
  0% {
    top: 0;
    right: 180px;
    opacity: 1;
    transform: rotateZ(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 550px;
    right: 50px;
    opacity: 0;
    transform: rotateZ(1800deg);
  }
}

@keyframes ribbon09 {
  0% {
    top: 0;
    right: 150px;
    opacity: 1;
    transform: rotateZ(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 550px;
    right: 250px;
    opacity: 0;
    transform: rotateZ(1800deg);
  }
}

@keyframes ribbon10 {
  0% {
    top: 0;
    right: 300px;
    opacity: 1;
    transform: rotateZ(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 550px;
    right: 150px;
    opacity: 0;
    transform: rotateZ(1800deg);
  }
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500px);
    -ms-transform: translateY(500px);
    transform: translateY(500px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
